@page
@model ToDo.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h4 class="">Assignments</h4>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <table class="table table-hover table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Deadline</th>
                        <th scope="col">Important</th>
                        <th scope="col">Done</th>
                        <th scope="col">Description</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


